{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
{% comment %} mobile view {% endcomment %}
{% comment %} <div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-black bg-opacity-25"></div>
    <div class="fixed inset-0 z-40 flex">
        <div class="relative ml-auto flex h-full w-full max-w-xs flex-col overflow-y-auto bg-white py-4 pb-12 shadow-xl">
            <div class="flex items-center justify-between px-4">
              <h2 class="text-lg font-medium text-gray-900">Filters</h2>
              <button type="button" class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="mt-4 border-t border-gray-200">
                <h3 class="sr-only">Categories</h3>
            <ul role="list" class="px-2 py-3 font-medium ">
                <li {% if not category %}class="text-green-400"{% endif %}>
                    <a href="{% url "shop:product_list" %}">All</a>
                 </li>
                 {% for c in categories %}
                 <li {% if category.slug == c.slug %}class="text-green-400"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                  </li>
                 {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</div> {% endcomment %}

{% comment %} large screen view {% endcomment %}


 <div  class="bg-white">
    {% comment %} <div aria-labelledby="products-heading" class="w-1/4 md:block hidden bg-gray-100 ">
        <h2 id="products-heading" class="sr-only">Products</h2>
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
            <div class="hidden lg:block">
                <h3 class="sr-only">Categories</h3>
                <ul role="list" class="space-y-4 border-b border-gray-200 pb-6 text-sm font-medium text-gray-900">
                    <li {% if not category %}class="text-green-400"{% endif %}>
                        <a href="{% url "shop:product_list" %}">All</a>
                     </li>
                     {% for c in categories %}
                     <li {% if category.slug == c.slug %}class="text-green-400"{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                      </li>
                     {% endfor %}
                  </ul>
            </div>
        </div>
    </div> {% endcomment %}
    <div class="mt-0 mx-auto max-w-2xl py-3  sm:px-6 sm:py-10 lg:max-w-7xl lg:px-">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900">{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        <div class="mt-3 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            {% for product in products %}
            <div class="group relative">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md border lg:aspect-none group-hover:opacity-75 lg:h-80">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-md text-gray-900 hover:text-green-400">
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </h3>
                    </div>
                    <p class="text-sm font-medium text-gray-900"> ${{ product.price }}</p>
                </div>               
            </div>
            {% endfor %}
        </div>
    </div>
    
    
 </div>
{% endblock %}